<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hr">

	<!--전체 직원 조회  -->
	<select id="list" resultType="com.mystudy.model.vo.EmployeeVO" parameterType="list">
		SELECT * FROM EMPLOYEES ORDER BY EMPLOYEE_ID
	</select>

	<!-- 부서 직원 목록 검색 -->
	<select id="deptList" parameterType="string" resultType="employeeVO">
		SELECT * FROM EMPLOYEES WHERE DEPARTMENT_ID = #{deptno}	ORDER BY EMPLOYEE_ID
	</select>
	
	<!--이름으로 검색  -->
	<select id="name">
		SELECT * FROM EMPLOYEES WHERE FIRST_NAME = INITCAP (#{firstName}) OR LAST_NAME = INITCAP (#{lastName})
	</select>
</mapper>